/* Stylesheet for recipe page */
.title {
    background-color: white;
    color: #779730;
    border-radius: 5px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.title-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-body {
    background-color: #DBE3C7;
    color: #779730;
    padding: 20px;
}

.infoPanel {
    background-color: white;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 45px;
    margin-bottom: 60px;
}